@model GenericFolder

<div>
    <dl class="dl-horizontal doublewidth">
        <dt class="dtTable doublewidth">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            <p class="TableParagraph">
                @Html.DisplayFor(model => model.Description)
            </p>
        </dd>
    </dl>
</div>