@model Starter.Controllers.ProjectAndFolderAndGroup

@{
    ViewData["Title"] = "Delete Group";
}

<div>
    <div class="headertwo">
        <h2 class="Delete">Delete @Model.Group.Name</h2>
    </div>
    <div>
        <h3>Are you sure you want to delete this?</h3>
    </div>

    <hr />

    <div>
        @Html.Partial("_GroupDetailsTable", Model.Group)

        <form asp-action="Delete">
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" />
            </div>
        </form>
    </div>

    <hr />

    <div>
        @Html.Partial("_BackToParentFolder", Model.Folder)
    </div>
</div>
