@model Starter.Models.Collection

@{
    ViewData["Title"] = "Delete Collection: " + Model.Name;
}

<div>
    <div class="headertwo">
        <h2 class="Delete">@ViewData["Title"]</h2>
    </div>
    <div>
        <h3>Are you sure you want to delete this?</h3>
    </div>

    <hr />

    <div>
        @Html.Partial("_CollectionDetailsTable", Model)

        <form asp-action="Delete">
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" />
            </div>
        </form>
    </div>

    <hr />

    <div>
        <p>
            <a class="Actions" asp-controller="Categories" asp-action="Details" asp-route-id="@Model.CategoryID">Back to parent Category: @Model.Category.Name</a>
        </p>
    </div>
</div>
