@model Starter.Models.ObjectLibrary

@{
    ViewData["Title"] = "Create Object Library";
}

<div>
    <div class="headertwo">
        <h2>@ViewData["Title"]</h2>
    </div>

    <form asp-action="Create" asp-controller="ObjectLibraries">
        <div class='panel-group'>
            <div class='panel panel-default'>
                <div class='panel-heading'>
                    <h3 class='panel-title'>
                        <a data-toggle='collapse' id='Toggle' href='#collapseCreateObjectLibraries'>Create Object Library</a>
                    </h3>
                </div>
                <div id='collapseCreateObjectLibraries' class='panel-collapse collapsed collapse'>
                    <div class='panel-body'>
                        <div class="form-horizontal">
                            <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Name" class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Description" class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    <input asp-for="Description" class="form-control" />
                                    <span asp-validation-for="Description" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="GenericFolderID" class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    <select asp-for="GenericFolderID" class="form-control"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Create" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div>
        <hr />
        <p>
            <a asp-controller="GenericFolders" asp-action="Details" asp-route-id="@Model.ObjectLibraryID" class="Actions">Back to Folder: @Model.GenericFolder.Name</a>
        </p>
    </div>
</div>