@model IndexViewModel
@{
    ViewData["Title"] = "Manage your account";
}


<p class="text-success">@ViewData["StatusMessage"]</p>
<div>
    <div class="headertwo">
        <h2>@ViewData["Title"]</h2>
    </div>

    <div>
        @if (Model.HasPassword)
        {
            <p class="TableParagraph">
                <a class="Actions" asp-controller="Manage" asp-action="ChangePassword">Change Password</a>
            </p>

        }
        else
        {
            <p class="TableParagraph">
                <a class="Actions" asp-controller="Manage" asp-action="SetPassword">Create Password</a>
            </p>
        }
        <hr/>
        <p class="TableParagraph">
            <a class="Actions" asp-controller="Account" asp-action="Register">Create User</a>
        </p>
        <hr />
        <p class="TableParagraph">
            <a class="Actions" asp-controller="MasterKeys" asp-action="Index">Keys - Manage the remote machines keys</a>
        </p>
        <hr />
        <p class="TableParagraph">
            <a class="Actions" asp-controller="AvailableMethods" asp-action="Index">Available Methods - Manage the methods available for use in tests</a>
        </p>
    </div>
</div>

<div class='panel-group'>
    <div class='panel panel-default'>
        <div class='panel-heading'>
            <h3 class='panel-title'>
                <a data-toggle='collapse' id='Toggle' href='#collapseUsers'>Users</a>
            </h3>
        </div>

        @if (Model.UserForManage.Any())
        {
            <div id='collapseUsers' class='panel-collapse collapsed collapse in'>
                <div class='panel-body'>
                    <table id="2ColumnDataTable" class="table table-striped">
                        <thead id="greyTableheader">
                            <tr>
                                <th>
                                    Email
                                </th>
                                <th>
                                    Actions
                                </th>
                            </tr>
                        </thead>

                        <tbody id="RightClickTable">

                            @foreach (var item in Model.UserForManage)
                            {
                                <tr>
                                    <td>
                                        <p class="TableParagraph">
                                            @item.Email
                                        </p>
                                    </td>
                                    <td>
                                        <form asp-action="Delete" asp-controller="Manage">
                                            <input type="hidden" value="@item.Email" name="userEmail" />
                                            <div class="col-md-offset-2 col-md-10">
                                                <input type="submit" value="Delete User" class="btn btn-default" />
                                            </div>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }

        else
        {
            <div id='collapseUsers' class='panel-collapse collapsed collapse in'>
                <div class='panel-body'>
                    <p>
                        There are currently no other users
                    </p>
                </div>
            </div>
        }

    </div>
</div>


