html {
    overflow-y: scroll;
}

body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 14px;
    padding-top: 10px;
}

div.container.body-content {
    clear: both;
    margin: 20px;
    margin-top: 0px;
    width: 98%;
}

div.headertwo {
    margin-left: 0px;
}

div.chosen-drop {
    margin-left: 0px;
}

div#RunTest, div#StopTest {
    margin: 0px;
    padding: 0px;
}

div#RunTestHidden, div#StopTestHidden {
    display: none;
    margin: 0px;
    padding: 0px;
}

#TestRunsUsingTestDataTable {
    width: 100% !important;
}

div#ResultsDataTable_wrapper {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}

div#ResultsDataTable_wrapper {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}

div#StepDataTable_wrapper, div#AvailableMethodsDataTable_wrapper, div#StepsUsingMethodDataTable_wrapper, 
    div#ResultsUsingMethodDataTable_wrapper, div#TestRunsUsingTestDataTable_wrapper, div#ProcessStepDataTable_wrapper,
    div#ProcedureStepDataTable_wrapper, div#TestCaseDataTable_wrapper {
    margin-left: 0px;
    margin-right: 0px;
}

table#TestRunDataTable, table#ResultsDataTable, table#StepDataTable, table#AvailableMethodsDataTable, 
    table#StepsUsingMethodDataTable, table#ResultsUsingMethodDataTable, table#TestRunsUsingTestDataTable,
    table#ProcessStepDataTable, table#ProcedureStepDataTable, table#TestCaseDataTable {
    width: 160%;
    margin-left: 0px;
    margin-right: 0px;
}

table#TestRunDataTable td, table#ResultsDataTable td, table#StepDataTable td, table#AvailableMethodsDataTable td,
    table#StepsUsingMethodDataTable td, table#ResultsUsingMethodDataTable td, table#TestRunsUsingTestDataTable td,
    table#ProcessStepDataTable td, table#ProcedureStepDataTable td, table#TestCaseDataTable td {
    padding-bottom: 1px;
    padding-top: 1px;
    font-size: 10px;
}

table#TestRunDataTable div, table#ResultsDataTable div, table#StepDataTable div, table#AvailableMethodsDataTable div,
    table#StepsUsingMethodDataTable div, table#ResultsUsingMethodDataTable div, table#TestRunsUsingTestDataTable div,
    table#ProcessStepDataTable div, table#ProcedureStepDataTable div, table#TestCaseDataTable div {
    margin-left: 0px;
    margin-right: 0px;
}

table#TestRunDataTable td.datetimepickertd, table#TestRunDataTable td.Retriestd, table#StepDataTable td.stepTabletd, 
    table#AvailableMethodsDataTable td.AvailableMethodtd, table#StepsUsingMethodDataTable td.AvailableMethodtd,
    table#ResultsUsingMethodDataTable td.AvailableMethodtd, table#TestRunsUsingTestDataTable td.AvailableMethodtd,
    table#ProcessStepDataTable td.ProcessStepTabletd, table#ProcedureStepDataTable td.ProcedureStepTabletd,
    table#TestCaseDataTable td.TestCaseTabletd {
    padding:0px;
}

table.RunOrStopAllTests, td.RunOrStopAllTests {
    width: 40%;
    border: none;
}

table.ExceptionTable, tr.ExceptionDetails, td.ExceptionType, td.ExceptionMessage {
    border: 1px solid black;
}

div.input-group date, div.datetimepickerdiv, div.Retriesdiv, div.datepicker, div.datepicker.days, div.stepTablediv,
    div.ProcessStepTablediv, div.ProcedureStepTablediv, div.TestCaseTablediv {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

div#wideDateTimePicker div {
    margin: 0px;
    padding: 0px;
    width: 100%;
    max-width: 400px;
}

div.datetimepicker div.datepicker{
    width: 400px;
    font-size:12px;
}

input.datetimepickerinput {
    font-size: 8px;
    padding: 2px;
    border: none;
    width: inherit;
}

div.datetimepicker {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

input#wideDateTimePicker {
    width: inherit;
    padding-left: 10px;
}

input.form-control-short datetimepicker {
    width: 100%;
}

input.Retriesinput {
    text-align: center;
    font-size: 8px;
    padding: 2px;
    width: 100%;
    border: none;
}

input.stepTableInput, input.ProcessStepTableInput, input.ProcedureStepTableInput, input.TestCaseTableInput {
    text-align: left;
    font-size: 11px;
    padding: 2px;
    padding-left: 5px;
    width: 100%;
    border: none;
}


p.nopadding {
    padding: 0px;
    margin: 0px;
}

a.toggle, a#Toggle{
    display: inline-block;
}

a.Actions {
    display: inline-block;
    background-color: #d9d9d9;
    padding: 4px;
}

a.dependencygrouplinks {
    display: inline-block;
    background-color: #d9d9d9;
}
a.FloatRight {
    display: inline-block;
    float: right;
}

body.Passed, #Passed {
    background-color: #f7fff7;
    border: solid 1px #1FDA9A;
}

body.Blocked, #Blocked {
    background-color: #fffece;
    border: solid 1px #E3AE57;
}

body.Failed, #Failed {
    background-color: #ffcece;
    border: solid 1px #DC3D24;
}

textarea {
    width: 60%;
}

#Toggle {
    width: 100%;
    height: 100%;
}

#StepResult {
    float: right;
    margin-top: -20px;
    margin-right: 3px;
    padding: 3px;
}

body.Blocked, #Blocked {
    background-color: #fffece;
}

body.Failed, #Failed {
    background-color: #ffcece;
}

div {
    margin-bottom: 5px;
    padding: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

div.panel {
    margin-bottom: 0px;
}

div.panel-body {
    padding: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
}

div.panel-heading {
    margin-top: 5px;
}

div.StepDetailsDiv {
    width: 80%;
}

div.table {
    display:table;
    margin-bottom: 0px;
}

div.PropertiesTableCell {
    display:table-cell;
    width: 40%;
    vertical-align: top;
}

div.ScreenshotCell {
    display:table-cell;
    width: 60%;
    padding: 5px;
    vertical-align: top;
    text-align: center;
    align-content: center;
}

div.TestResultsContainer {
    display: inline-block;
}

div.TestResultDiv {
    display: inline-block;
    float: left;
    margin-bottom: 20px;
}

h1 {
    background-color: #d9d9d9;
    padding: 10px;
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
}

h2 {
    background-color: #d9d9d9;
    padding: 8px;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    font-weight: bold;
    font-size: 18px;
}

h2.Delete {
    background-color: black;
    color: #DC3D24;
}

h3 {
    background-color: #d9d9d9;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}

p {
    background-color: white;
    padding: 6px;
    display: inline-block;
}

p.message {
    background-color: #d9d9d9;
    font-weight: bold;
    color: #DC3D24;
}

p.messagehidden {
    background-color: #d9d9d9;
    font-weight: bold;
    color: #DC3D24;
    display: none;
    visibility: hidden;
}

p.Actions {
    margin-bottom: 0px;
}

p.TableParagraph {
    margin-bottom: 0px;
}

p.SmallPadding {
    padding: 2px;
    margin-bottom: 0px;
}

p.dependencygroupseparator {
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0px;
    display: inline-block;
}

#TestResult {
    font-weight: bold;
    font-size: 16px;
}

img.ScreenshotMini {
    width: 50%;
    height: 30%;
    border: 1px solid black;
}

table, th, td {
    padding: 10px;
    border: 1px solid #d9d9d9;
    background-color: white;
    margin: 5px;
}

th {
    font-weight: bold;
}

th.Name {
    width: 30%;
}

th.Description {
    width: 52%;
}

th.Actions {
    width: 23%;
}

#greyTableheader {
    background-color: #d9d9d9;
}

label.col-md-2.control-label {
    padding-top: 4px;
    text-align: left;
    background-color: #d9d9d9;
    padding-bottom: 4px;
    margin-left: 10px;
}

label.col-md-4.control-label {
    padding-top: 4px;
    text-align: left;
    background-color: #d9d9d9;
    padding-bottom: 4px;
    margin-left: 10px;
}

dt.dtTable{
    text-align: left;
    padding: 3px;
    background-color: #d9d9d9;
    margin: 3px;
    display: inline-block;
    padding-left: 10px;
}

dt.dtTable.doublewidth{
    width: 20%;
}

dl-horizontal.doublewidth{
    width: 50%;
}

input.btn {
    font-weight: bold;
    background-color: #d9d9d9;
}

div.ActionButtonDiv {
    margin-bottom: 55px;
}

div.form-group {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

div.col-md-10 {
    margin-left: 0px;
    margin-bottom: 0px;
    padding-bottom: 5px;
    padding-top: 5px;
}

td.Name {
    width: 20%;
}

td.Description {
    width: 70%;
}

td.Actions {
    width: 10%;
}

table.indextable {
    border: 1px solid black;
    background-color: white;
}

table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
}

#TestRunDataTable, #ResultsDataTable {
    font-size: 8px;
}

#TestRunDataTable th, #ResultsDataTable th {
    padding: 4px;
    font-size: 10px;
}

#TestRunDataTable td, #ResultsDataTable td{
    padding: 4px;
    vertical-align: middle;
}

table.TestReportTable {
    width: 60%;
    border: 1px solid black;
}

table.PropertiesTable {
    width: 100%;
    border: 1px solid black;
}

table.PropertiesTable td{
    border: 1px solid black;
}

.btn.RunTestsButton, .btn.StopTestsButton{
    font-size:8px;
    padding: 2px;
}

td {
    text-align: left;
    vertical-align: top;
    padding: 4px;
}

td.TestReportTableHeader {
    font-weight: bold;
    font-size: 14px;
    width: 16%;
    table-layout: fixed;
    word-wrap: break-word;
    text-align: center;
    padding: 7px;
    background-color: #d9d9d9;
}

td.center {
    text-align: center;
    padding: 10px;
    font-size: 16px;
    vertical-align: middle;
}


td.Passed, p.Passed{
    color: #1FDA9A;
    font-size: 16px;
}

td.Failed, p.Failed{
    color: #DC3D24;
    font-size: 16px;
}

td.Blocked, p.Blocked{
    color: #E3AE57;
    font-size: 16px;
}

p.Passed{
    border: 1px solid #1FDA9A;
}

p.Failed{
    border: 1px solid #DC3D24;
}

p.Blocked{
    border: 1px solid #E3AE57;
}


td.Passed, td.Failed, td.Blocked {
    text-align: center;
    padding: 10px;
    vertical-align: middle;
}

td.PropertyName {
    background-color: black;
    color: #E3AE57;
    width: 30%;
}

td.PropertyNamePassed {
    background-color: black;
    color: #1FDA9A;
    width: 30%;
}

td.PropertyNameFailed {
    background-color: black;
    color: #DC3D24;
    width: 30%;
}

td.PropertyNameBlocked {
    background-color: black;
    color: #E3AE57;
    width: 30%;
}

td.PropertyValuePassed {
    background-color: #1FDA9A;
    color: black;
    width: 70%;
}

td.PropertyValueFailed {
    background-color: #DC3D24;
    color: black;
    width: 70%;
}

td.PropertyValueBlocked {
    background-color: #E3AE57;
    color: black;
    width: 70%;
}

td.PropertiesTd {
    width: 100%;
    vertical-align: middle;
}

td.ExceptionHeader {
    background-color: #DC3D24;
    color: black;
    font-size: 16px;
    text-align: center;
    width: 100%;
}

tr.ExceptionDetails {
    background-color: black;
    color: #DC3D24;
    font-size: 12px;
    width: 50%;
    table-layout: fixed;
    word-wrap: break-word;
}

td.ExceptionType {
    background-color: black;
    color: #DC3D24;
    font-size: 12px;
    width: 30%;
    table-layout: fixed;
    word-wrap: break-word;
}

td.ExceptionDetails {
    background-color: black;
    color: #DC3D24;
    font-size: 12px;
    width: 70%;
    table-layout: fixed;
    word-wrap: break-word;
}

hr {
    width: 100%;
}

div.Passed {
    border-color: #1FDA9A;
}

div.Blocked {
    border-color: #E3AE57;
}

div.Failed {
    border-color: #DC3D24;
}

div.panel-heading {
    padding: 10px, 15px;
}

div.panel.panel-default.Passed {
    border-top-color: #1FDA9A;
}

div.panel.panel-default.Blocked {
    border-top-color: #E3AE57;
}

div.panel.panel-default.Failed {
    border-top-color: #DC3D24;
}

div.panel-group {
    margin-bottom: 0px;
}

div.panel-group.noMargin {
    margin-left: 0px;
    margin-right: 0px;
}

div.panel-collapse {
    margin-bottom: 0px;
    padding: 0px;
}

div.treeview.panel-collapse {
    margin-left: 5px;
    margin-right: 0px;
}

div.panel-default {
    padding: 0px;
}

div.panel-default.noMargin {
    margin-left: 0px;
    margin-right: 0px;
}

td.Passed, td.MatchesProcessStepTrue {
    text-align: left;
    background-color: #f7fff7;
}

td.Blocked {
    text-align: left;
    background-color: #fffece;
}

td.Failed, td.MatchesProcessStepFalse {
    text-align: left;
    background-color: #ffcece;
}


/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select {
    max-width: 380px;
}

/* Carousel */
.carousel-caption {
    z-index: 10 !important;
}

    .carousel-caption p {
        font-size: 20px;
        line-height: 1.4;
    }

@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10 !important;
    }
}


#dependencygrouppopup{
    padding: 0px;
}

#dependencygrouppopup li{
    list-style: none;
    display: block;
    float: left;
    position:relative;
}

#dependencygrouppopup .site-name a{
    overflow: hidden;
}

a.TestRunTableActions {
    display: inline-block;
    background-color: #d9d9d9;
    padding: 2px;
    font-size: 10px;
    margin: 1px;
}

a.TreeViewTableActions {
    display: inline-block;
    background-color: #d9d9d9;
    padding: 2px;
    font-size: 10px;
    margin: 1px;
    width: 100%;
}

table#dependencygrouptable td {
    padding: 3px;
    font-size: 10px;
}

#dependencygrouppopup ul li div{
    display: block;
    visibility: visible;
    background-color: white;
}

#dependencygrouppopup ul li a.Title {
    background-color: #d9d9d9;
    width: auto;
    visibility: visible;
    font-size: 14px;
    padding: 5px;
}

#dependencygrouppopup li:hover > ul {
    display: block;
    visibility: visible;
}

.dependencygroupdiv form{
    float: right;
}

#dependencygroupheader {
    margin: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#dependencygrouppopup ul{
    padding-left: 5px;
    display: none;
    visibility: hidden;
    position: absolute;
    left: -550px;
    top: 0px;
    z-index: 100;
}

#dependencygrouppopup th {
    background-color: #d9d9d9;
}

#dependencygrouppopup table{
    padding: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 730px;
}

#dependencygrouppopup th.dependencyid, td.dependencyid {
    width: 12%;
}

#dependencygrouppopup th.dependencystatus, td.dependencystatus {
    width: 15%;
}

#dependencygrouppopup th.dependencypath, td.dependencypath {
    width: 73%;
}

table#TestRunDataTable td#dependencygrouptd {
    padding: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}

div.dependencygroupdiv{
    display: none;
    visibility: hidden;
    border: 2px solid #d9d9d9;
}

div.dependencygroupselectdiv{
    padding: 0px;
    margin: 0px;
}

td#dependencygrouptd div.chosen-container-single, div.stepTablediv div.chosen-container-single, 
    div.ProcessStepTablediv div.chosen-container-single, div.ProcedureStepTablediv div.chosen-container-single {
    padding: 0px;
    margin: 0px;
    width: 100%;
    font-size: 10px;
}

td#dependencygrouptd a.chosen-single {
    height: 21px;
    margin: 2px;
}

div.stepTablediv a.chosen-single, div.ProcessStepTablediv a.chosen-single, div.ProcedureStepTablediv a.chosen-single {
    line-height: 18px;
    height: 18px;
    margin: 1px;
}


td#dependencygrouptd span{
    vertical-align: middle;
}

img.logo {
    float:left;
    vertical-align:middle;
    padding-left: 20px;
    padding-top: 5px;
}

li.search-field input.default {
    width: auto !important;
}

td.wordbreak {
    word-break:break-all;
}

div.noMargin{
    margin: 0px;
    padding: 0px;
}

div.treeviewNodeDiv {
    margin: 0px;
    margin-left: 5px;
    padding: 0px;
}

div.treeview.panel-default, div.treeview.panel-heading {
    margin: 0px;
}

div.treeview.panel-heading {
    padding: 2px;
    padding-left: 6px;
    font-size: 12px;
    color: black;
}

.panel-group .panel-heading + .panel-collapse > div.treeview.panel-body {
    border-top: none;
}

div.treeview.panel-body, div.treeview.panel-group {
    margin: 0px;
}

div.treeview.panel-group {
    padding-left: 0px;
    padding-right: 0px;
    width: 101%
}

div#RightClickTreeview{
    width: 30%;
}