@model Starter.Models.Run

@{
    ViewData["Title"] = "Delete Run";
}

<div>
    <div class="headertwo">
        <h2 class="Delete">Delete @Model.Name</h2>
    </div>
    <div>
        <h3>Are you sure you want to delete this?</h3>
    </div>

    <hr />

    <div>
        @Html.Partial("_RunDetailsTable", Model)

        <form asp-action="Delete">
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" />
            </div>
        </form>
    </div>

    <hr />

    <div>
        @Html.Partial("_BackToParentGroup", Model)
    </div>
</div>
