@model Starter.Models.Procedure

<div>
    <dl class="dl-horizontal">
        <dt class="dtTable">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            <p class="TableParagraph">
                @Html.DisplayFor(model => model.Description)
            </p>
        </dd>
    </dl>
</div>
