@model Starter.Models.Result

@{
    ViewData["Title"] = "Delete Result: " + Model.ResultName;
}

<div>
    <div class="headertwo">
        <h2 class="Delete">@ViewData["Title"]</h2>
    </div>
    <div>
        <h3>Are you sure you want to delete this?</h3>
    </div>

    <hr />

    @Html.Partial("_ResultDetailsTable", Model)

    <hr />
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    </form>

    <hr />

    <div>
        <p class="Actions">
            <a asp-controllers="Results" asp-action="ResultsForTestRun" asp-route-id="@Model.TestRunID" class="Actions">Back to Test Run: @Model.TestRunID</a>
        </p>
    </div>
</div>
