@{
    ViewData["Title"] = "About";
}

<div>
    <div class="headertwo">
        <h2>@ViewData["Title"]</h2>
    </div>
    <div>
        <h2>@ViewData["Message"]</h2>
    </div>
    <div>
        <p>Explanations, tutorials, apologies available at <a href="http://giacomokavanagh.wordpress.com">http://giacomokavanagh.wordpress.com</a>. Code at <a href="https://github.com/giacomokavanagh">https://github.com/giacomokavanagh</a>.</p>
    </div>
</div>
    

    
