@model Starter.Models.MasterKey

<div>
    <dl class="dl-horizontal doublewidth">
        <dt class="dtTable doublewidth">
            @Html.DisplayNameFor(model => model.MasterKeyID)
        </dt>
        <dd>
            <p class="TableParagraph">
                @Html.DisplayFor(model => model.MasterKeyID)
            </p>
        </dd>
        <dt class="dtTable doublewidth">
            @Html.DisplayNameFor(model => model.MasterKeyString)
        </dt>
        <dd>
            <p class="TableParagraph">
                @Html.DisplayFor(model => model.MasterKeyString)
            </p>
        </dd>
    </dl>
</div>