@model Starter.Models.MasterKey

@{
    ViewData["Title"] = "Delete Master Key";
}

<div>
    <div class="headertwo">
        <h2 class="Delete">Delete @Model.MasterKeyString</h2>
    </div>
    <div>
        <h3>Are you sure you want to delete this?</h3>
    </div>

    <hr />

    <div>
        @Html.Partial("_MasterKeyDetailsTable", Model)

        <form asp-action="Delete">
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" />
            </div>
        </form>
    </div>

    <hr />

    <div>
        <a class="Actions" asp-action="Index" asp-route-id="@Model.MasterKeyID">Index</a>
    </div>
</div>

